---
import Modal from "./Modal.astro";
import TagsCarousel from "./TagsCarousel.astro";
import XMark from "../icons/XMark.astro";

export interface Props {
  id: number;
  tags: string[];
  description: string;
  publish: string;
}

const { id, tags, description, publish } = Astro.props;
---

<Modal id={id} >
  <div slot="header" class="flex items-center justify-between pt-4 pb-10 lg:px-6 lg:pt-4 lg:pb-0">
    <p class="text-[48px] lg:text-[20px] font-bold pl-4 lg:pl-0">Detalles</p>
    <button type="button" data-close-details-modal={id} class="hover:text-red-500 pr-10 lg:pr-0"><XMark className="w-16 h-16 lg:w-6 lg:h-6" /></button>
  </div>
  <div slot="body" class="px-6 pt-2">
    <TagsCarousel id={id} className="row-span-1 mb-10 lg:mb-2" tags={tags} />
    <div class="space-y-3 bottom-0">
    <p data-cy-description class="row-span-2 font-normal">{description}</p>
    {publish 
      ? <div class="row-span-1 font-normal flex justify-end gap-x-3 lg:gap-x-1">
          <strong class="underline"><i>Presentación:</i></strong>
          <p data-cy-publish-date>{publish}</p>
        </div> 
      : <p class="row-span-1 font-bold flex justify-end">No hay fecha de publicación</p>
    }
    </div>
  </div>
</Modal>
